*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Titulo';
  src: url("../DemonSlayer/bloodcrow.ttf") format('woff2'),
}


body{
    display: flex;
    justify-content: center;
    font-family: "Roboto Regular";
    background-color: white;
}

#fondo{
    background-image: url("../img/diseño/wallpapersden.com_sabito-s-haori-kimetsu-no-yaiba-pattern_3840x2160.jpg");
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

#capa_transparente{
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    opacity: 0.75;
}

#PaginaCentrada{
    width: 700px;
    z-index: 1;
    background-color: #00301c;
    min-height: 100vh;
}

header{
    background-image: url("../img/diseño/CONFESIONES-28-9-2025.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /*<a href="https://es.textstudio.com/">Generador de fuentes</a>*/
    background-color: #250707;
    float: left;
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 64px;
    margin-bottom: 50px;
    padding-top: 50px;
    font-family:'Titulo';
}

#seccion_agregar_confesion{
    float: left;
    width: calc(100% - 20px);
    background-color: rgb(235, 133, 0);
    padding: 10px;
}

#seccion_agregar_confesion button{
    float: right;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    
    border-width: 1px;
}

#seccion_agregar_confesion button:hover{
    background-color: #ffd900;
    color: #eeecec;
    cursor: pointer;
}

.Confesion{
    float: left;
    width: calc(100% - 60px - 20px);
    background-color: white;
    /*background-image: url("../img/diseño/1131w-Z9eIMZSvnHg.webp");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.Confesion {
    float: left;
    width: 81%;
    background-color: white;
    padding: 30px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.parte_superior{
    /*color: darkslategrey;*/
    color: #5F5A67;
}

.titulo_numero_confesion{
    float: left;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;    /*background-color: chocolate;*/
}

.numero_confesion{
    float: left;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;    /*background-color: yellow;*/
}

.Titulo_confesion{
    float: left;
    width: 100%;
    /*background-color: crimson;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  font-family: Georgia, serif;

}

.Confesion_texto{
    float: left;
    width: 100%;
    /*background-color: cornflowerblue;*/
    margin-bottom: 10px;
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;

}

.titulo_reacciones{
    float: left;
    width: 100%;
    background-color: brown;
}
.contenedor_emoticonos{
    float: left;
    width: 100%;
    /*background-color: darkolivegreen;*/
}

.emoticono{
    float: left;
    /*width: 100px;*/
    /*background-color: chocolate;*/
    margin: 5px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding: 5px;
}

.emoticono:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #EFEBF9;
    border-radius: 10px;
}

.boton_emoticon_feliz:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #00a782;
    border-radius: 10px;
}
.boton_emoticon_sorprendido:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #ffbebe;
    border-radius: 10px;
}
.boton_emoticon_enojado:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(255, 120, 42);
    border-radius: 10px;
}
.boton_emoticon_risa:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #2d4e96;
    border-radius: 10px;
}
.boton_emoticon_dientes:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #005e00;
    border-radius: 10px;
}
.boton_emoticon_triste:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #cab600;
    border-radius: 10px;
}
.boton_emoticon_corazon:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #00cea1;
    border-radius: 10px;
}

.emoticono img{
    /*float: left;*/
    width: 30px;
}

.emoticono div{
    /*float: left;*/
    padding-left: 5px;
    width: 100%;
    /*background-color: crimson;*/
    text-align: center;
}

.titulo_comentarios{
    width: 100%;
    float: left;
    text-align: right;
    margin-bottom: 5px;
}

.seccion_comentarios{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3a0d0b;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Comentario{
    float: right;
    width: calc(100% - 40px - 40px);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
}

.comentador{
    float: left;
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;
    /*background-color: cyan;*/
}

.comentario_texto{
    float: right;
    width: calc(100% - 20px);
font-family: "Lucida Sans", "Lucida Grande", sans-serif;

}

.seccion_mi_comentario{
    float: left;
    width: calc(100% - 35px);
    /*background-color: beige;*/
    background-color: #00a782;
    padding: 5px;
    padding-left: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.seccion_mi_comentario button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 1px;
    float: left;
    margin-bottom: 5px;
}

.seccion_mi_comentario button:hover{
    color: #e4e4e4;
    background-color: #2784a1;
    
}

.mi_comentario{
    float: left;
    /*background-color: aqua;*/
    width: 100%;
    display: none;
}

.boton_comentar{
    display: block;
}

.mi_comentario input{
    float: left;
    padding: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    width: 50%;
    border-radius: 5px;
    border-width: 1px;
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;

}

.mi_comentario button{
    width: 80px;
    float: right;
}
